$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: 'Asap', sans-serif;

body {
    background-color: $redFire;
    font-family: $fontAsap;
}

.marcacoes_layout{
    padding: 10px;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
}

.main_menu_transportes{
    display: flex;
}

.main_menu_transportes_single{
    padding-right: 25px;
}

.single_day{
    flex-direction: row;
    padding-right: 10px;
}

.button_style{
    font-family: $fontAsap;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 180px;
    border: 0;
    padding: 10px 0;
    padding-left: 5px;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: $redFire;
    text-align: left;
}