$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: 'Asap', sans-serif;

body {
    background-color: $redFire;
    font-family: $fontAsap;
}

.main_menu_transportes{
    display: flex;
}

.single_day{
    flex-direction: row;
    padding-right: 10px;
}